<!-- About Section -->
<div id="about" class="container text-center">
  <h3>CLASSIC RIDES AMUSEMENTS</h3>
  <p><em>Family Owned and Operated!</em></p>
  <p>CLASSIC RIDES AMUSEMENTS is a family-owned and operated carnival company complete with rides, games, and food. Owners Jerry Baque and Tom Baque have spent their entire life in the carnivlbusiness working for their aunt and uncle Bob and Cindy Swartwood, supervising, maintaing and improving units on Swartwood Amusement Co.  When Bob and Cindy made their decision to retire they sold the equipment to their nephews the Baque Brothers to continue the operaton under their own company names Baque Brothers and Classic Rides Amusements.  So with the help of their cousin Phillip Riggi, unle Jack Swartwood, wives Alicia and Diana, sons Tommy and Eddie Baque and other key staff to continue the operation with the same excellence and proffessionalism that their customers and patrons have always enjoyed. </p>
  <br> 
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Games</strong></p><br>
      <a href="about" data-toggle="collapse" aria-expanded="true">
        <img src="http://www.classicridesamusements.com/center_joints.jpg" class="img-circle person" alt="Games" width="255" height="255">
      </a>
      <div id="about" class="collapsed" aria-expanded="true">
        <p>Games</p>
        <p>Classic midway games include duck ponds, catching gold fish, basketball, and derby races.</p>
        <p>Upgrade or collect licensed prizes and pictures.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Refreshments</strong></p><br>
      <a href="about2" data-toggle="collapse" aria-expanded="true">
        <img src="http://s8.favim.com/orig/72/carnival-photography-vintage-Favim.com-725629.jpg" class="img-circle person" alt="Candy wagon" width="255" height="255">
      </a>
      <div id="about2" class="collapsed" aria-expanded="true">
        <p>Refreshments</p>
        <p>Carnival food and treats.</p>
        <p>Cotton candy, snow cones, soda, and delicious food.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Classic rides</strong></p><br>
      <a href="about3" data-toggle="collapse" aria-expanded="true">
        <img src="http://www.classicridesamusements.com/publishImages/Blank-1~~element64.jpg" class="img-circle person" alt="Carnival at Night" width="255" height="255">
      </a>
      <div id="about3" class="collapsed" aria-expanded="true">
        <p>CLassic Rides</p>
        <p>Experience Southern California's very own carnival park.</p>
        <p>Great environment with safe and fun rides or games, best weekend entertainment.</p>
      </div>
    </div>
  </div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container">
  <h3 class="text-center">Contact</h3>
  <p class="text-center"><em>Specializing in Catholic Church Festivals, Street Fairs, Community Fairs and Celebration.  We also provide rides and games on a rental basis for everything from one day company picnics to tv shoots and movie productions. We have an ideal mix of spectacular thrill rides, classic family rides and popular kiddie rides making Classic Rides Amusements the right choice for your next event.</em></p>

  <div class="row">
    <div class="col-md-4">
      <p>Questions, comments? Drop a note.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>Rancho Cucamonga, California</p>
      <p><span class="glyphicon glyphicon-phone"></span>Phone: 1(909)595-2734</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: jbclassicrides@yahoo.com<br>baquebros@yahoo.com</p>    
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Send</button>
        </div>
      </div>  
    </div>
  </div>