<!DOCTYPE html>
<html lang="en">
<head>
  <title>Baque Brother's Amusements</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js"></script>
<<script> function initialize() {
var mapProp = {
center:myCenter,
zoom:12,
scrollwheel:false,
draggable:false,
mapTypeId:google.maps.MapTypeId.ROADMAP
};

var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker = new google.maps.Marker({
position:myCenter,
});

marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>

<body id="mypage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">Classic Rides Amusements</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#contact">Contact</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Rides & Games</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://31.media.tumblr.com/db4073bcde4b8c7232c281324ae7b088/tumblr_inline_n2huzrcRPh1rxxsf3.jpg" alt="Ticket Box" width="1200" height="700">
      <div class="carousel-caption">
        <h3>Baque Brother's Amusements</h3>
        <p>Family owned and operated weekend carnival park.</p>
      </div> 
    </div>

    <div class="item">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/31/4a/a3/314aa30a5ab544f0c09968a725df7045.jpg" alt="Games" width="1200" height="700">
      <div class="carousel-caption">
        <h3>Games</h3>
        <p>Thank you, Chicago - A night we won't forget.</p>
      </div> 
    </div>

    <div class="item">
      <img src="https://rockabellebombshell.files.wordpress.com/2012/07/uniqueweddingideasworld.jpg?w=610" alt="Concessions" width="1200" height="700">
      <div class="carousel-caption">
        <h3>Concessions</h3>
        <p>Refreshments</p>
      </div> 
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div>
  <div id="About" class="container text-center"> 
  <h3>Classic Rides Amusements</h3>
  <p><em>Weekend Family-Owned Carnival</em></p>
  <p>CLASSIC RIDES AMUSEMENTS is a family-owned and operated carnival company complete with rides, games, and food. Owners Jerry Baque and Tom Baque have spent their entire life in the carnivlbusiness working for their aunt and uncle Bob and Cindy Swartwood, supervising, maintaing and improving units on Swartwood Amusement Co.  When Bob and Cindy made their decision to retire they sold the equipment to their nephews the Baque Brothers to continue the operaton under their own company names Baque Brothers and Classic Rides Amusements.  So with the help of their cousin Phillip Riggi, unle Jack Swartwood, wives Alicia and Diana, sonos Tommy and Eddie Baque and other key staff to continue the operation with the same excellence and proffessionalism that their customers and patrons have always enjoyed.</p>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Games</strong></p><br>
      <a href="#midway" data-toggle="collapse">
        <img src="https://secure.static.tumblr.com/82542405c95767f84e7544479c6b46e9/4hjwdjr/aURmtpqhs/tumblr_static_89_basketball_nba_free_sports_computerdesktop_wallpaper_l.jpg" class="img-circle person" alt="games" width="255" height="255">
      </a>
      <div id="midway" class="collapse">
        <p>Basketball, duck pond, derby races</p>
        <p>Pick a sport, win prizes, and upgrade.</p>
        <p>Experience classic midway games.</p>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Refreshments</strong></p><br>
      <a href="#midway2" data-toggle="collapse">    
        <img src="http://s8.favim.com/orig/72/carnival-photography-vintage-Favim.com-725629.jpg" class="img-circle person" alt="Refreshments" width="255" height="255">
      </a>
      <div id="midway2" class="collapse">
        <p>Carnival food and treats.</p>
        <p>Cotton candy, snow cones, soda, and delicious food.</p>
        <p>Concessions and fresh popcorn every day. </p>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Classic Rides</strong></p><br>
      <a href="#midway3" data-toggle="collapse">
      <img src="http://static.tumblr.com/298885e67f03fc5f4d1738486e6f4c59/3m6eymj/VRin48ycx/tumblr_static_1jh58bvg0hhc88k4ss084g4sc.jpg" alt="Evening carnival lights" width="255" height="255">
      </a>
      <div id="midway3" class="collapse">
        <p>Build memories with family and friends.</p>
        <p>Charming atmosphere in unique setting in Southern California.</p>
        <p>Great environment with the safest and fun rides or games, best weekend entertainment. (Security Staff On-Location)</p>
    </div>
  </div>
</div>



<div id="contact" div class="container">
  <h3 class="text-center">Contact</h3>
  <p class="text-center"><em>We love our guests!</em></p>
  <div class="row test">
    <div class="col-md-4">
      <p>Questions or comments? Drop a note.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>Southern California, US</p>
      <p><span class="glyphicon glyphicon-phone"></span>Phone: +00 1515151515</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: mail@mail.com</p> 
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Send</button>
        </div>
      </div> 
    </div>
  </div>
</div>

<div id="googleMap"></div>

var myCenter = new google.maps.LatLng(34.101897,-117.332159);

<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>Bootstrap Theme Made By <a href="http://www.w3schools.com" data-toggle="tooltip" title="Visit w3schools">www.w3schools.com</a></p> 
</footer>

</body>
</html>