<div id="more" class="container-center">
  
  <h2>Rides and Games</h2>
  <p>Classic ferris-wheels and fun house, thrill rides and other various midway rides. Fun games with great prizes from sport to skill test fun.</p>            
  <div class="row">
    <div class="col-md-4">
      <a href="http://www.classicridesamusements.com/publishImages/Blank-1~~element67.jpg" class="thumbnail">
        <p>The Zipper, a spin-cage, heart racing, ride that refreshes your vertical senses.</p>    
        <img src="http://www.classicridesamusements.com/publishImages/Blank-1~~element67.jpg" alt="Zipper" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="http://www.classicridesamusements.com/mega_loop_1.JPG" class="thumbnail">
        <p>The Mega Loop is a rollercoater style thrill ride always with a scenic route.</p>    
        <img src="http://www.classicridesamusements.com/mega_loop_1.JPG" alt="mega Loop" style="width:150px;height:150px;">
      </a>  
    </div>
    <div class="col-md-4">
      <a href="http://www.classicridesamusements.com/sizzler_5.JPG" class="thumbnail">
        <p>Sizzler, closest thing to driving super speeds in a classic 50's style car.</p>    
        <img src="http://www.classicridesamusements.com/sizzler_5.JPG" alt="Sizzler" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="http://www.classicridesamusements.com/publishImages/Blank-1~~element69.JPG" class="thumbnail">
        <p>Derby Race for awesome prizes.</p>          
        <img src="http://www.classicridesamusements.com/publishImages/Blank-1~~element69.JPG" alt="Derby Race" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="http://www.classicridesamusements.com/publishImages/Blank-1~~element65.JPG" class="thumbnail">
        <p>Fun Slide</p>    
        <img src="http://www.classicridesamusements.com/publishImages/Blank-1~~element65.JPG" alt="Fun Slide" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="http://www.classicridesamusements.com/publishImages/Blank-1~~element62.JPG" class="thumbnail">
        <p>Bumper Cars!</p>    
        <img src="http://www.classicridesamusements.com/publishImages/Blank-1~~element62.JPG" alt="BC" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="http://www.classicridesamusements.com/pr_ventura_2012.jpg" class="thumbnail">
        <p>The Mini-Boat is a great ride like the Sea Dragon, for the little ones.</p>    
        <img src="http://www.classicridesamusements.com/pr_ventura_2012.jpg" alt="Mini-boat" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="http://www.classicridesamusements.com/publishImages/Blank-1~~element52.JPG" class="thumbnail">
        <p>Caterpillar rollercoaster, all smiles and adventure.</p>    
        <img src="http://www.classicridesamusements.com/publishImages/Blank-1~~element52.JPG" alt="Caterpillar" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="http://www.classicridesamusements.com/publishImages/Blank-1~~element56.JPG" class="thumbnail">
        <p>Superman-Mini is a heroic experience, the lights and flying is great kids fun.</p>    
        <img src="http://www.classicridesamusements.com/publishImages/Blank-1~~element56.JPG" alt="Superman-mini" style="width:150px;height:150px">
      </a>
    </div>
  </div>  
</div>
  
<!-- Add Google Maps -->
<div id="map-responsive" class="container-center">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105691.8425781176!2d-117.62787860836532!3d34.12407563016528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c35bf938112791%3A0xad6a7aad82f2f34b!2sRancho+Cucamonga%2C+CA!5e0!3m2!1sen!2sus!4v1464126913359" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>Bootstrap Theme Made By <a href="http://www.w3schools.com" data-toggle="tooltip" title="Visit w3schools">www.w3schools.com</a></p> 
</footer>

<script>
$(document).ready(function(){
  // Initialize Tooltip
  $('[data-toggle="tooltip"]').tooltip(); 
  
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Prevent default anchor click behavior
    event.preventDefault();
    // Store hash
    var hash = this.hash;
    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 300, function(){
   
      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
    });
  });
})
</script>